*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}


body{
    height: 100vh;
}
body{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc6lQGUCeCCPJXwGkNFb-i64cla93tnj6FekEGmMJOTFSXNuX-") no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
   
}
a{
    text-decoration: none;
    /*padding: 1em;*/
    font-size: 1.5em;
    color: midnightblue;
}


div div{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc6lQGUCeCCPJXwGkNFb-i64cla93tnj6FekEGmMJOTFSXNuX-") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 20px;
    color: white;
    box-shadow: 2px 2px 80px blue;
    border-radius: 15px;
    
}

p>a{
    background-color: rgb(218, 67, 67);
    color: white;
    padding: 1em;
    border-radius: 17px;
}

#volver{
    margin:4em auto;
}
div:hover{
    transform: scale(1);
}

nav{
    
    display:flex;
    flex-direction:row;    
    justify-content: center;
    padding:20px;
    margin:2em;
   
}
nav div{
    flex: 0 0 20%;   
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-right: 2px solid black;*/
    line-height: 40px
}


nav > div > a:hover{
    color:white;   
    text-shadow: 2px 2px 40px blue;
    font-weight: bolder;
    transform: scale(1.5);   
    
}

nav > div:nth-child(5){
    flex: 0 0 20%;   
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;   
}

nav div a{
    display:block;
    
}

img{
    width:50%;
   
}


#cartelera{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: auto 20px;
}
.sala > *{
    padding:20px;
    color:midnightblue;
}

#cartelera > div h2{
    
        position: relative;
        top: 0;
        font-size: 1.5em;
        /* right: 50%; */
        /* border: solid red 10px; */
        font-size: bolder;        
        padding: 1em;
  
}

.entradasUsuario{
    display: flex;
    flex-flow: row wrap;
}

.entrada{
    background: url("../Carteles/tickt.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: none;
    margin: 0.5em;
    width:10em;

    

}

.entradasUsuario > h2{
    flex-basis: 100%;
    text-align: center;
}

.entrada{
    margin:1.5em;
}

.entrada:hover{
    transform: rotate(-5deg)
}
.fichaUsuario{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

fieldset{
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    border: 2px solid blue;
}

legend{
    font-weight: bolder;
}

fieldset>li{
    padding-top:1em;
}

input[type="text"]{
    height: 2em;
}

button{
    height: 2em;
    width: 170px;
    text-transform: uppercase;
    border-radius: 7px;
    background: rgb(88, 199, 233);
}
button:hover{
    background-color: blue;
    color:white;
    text-transform: uppercase;
    border-radius: 7px;
}

.fichaUsuario div{
    display: none;
}

.fichaUsuario form{
    margin-top:2em;
    display: flex;
    flex-flow: column;
}

form > button{  
    height: 3em;
    width:18em;
    align-self: center;   
    padding: 1em;
    border-radius: 10px;
}

form > button:hover{
    height: 3em;
    width:18em;
    align-self: center;   
    padding: 1em;
    border-radius: 10px;
    background-color: blue;
    color:white;
}




form > p > input[type='number']{
    height: 2.5em;
}

.fichaUsuario p{
    padding: 0.5em;
}

.saldoTotal{
    text-align: center;
}
@media (min-width:600px) and (max-width:1400px){
    #cartelera{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:600px){
    nav{    
        
        flex-direction:column;  
        justify-content: center;
         
    }

    nav > div{
        margin:2%;
    }

    #cartelera{
        grid-template-columns: minmax(300px, 1fr);
       
    }  
    

    form.butacas{
        min-width: 550px;
    }

}

form.butacas > h1{
    text-align: center;
    padding: 10px;
    color:midnightblue;
}

form.butacas{
    border: 5px solid blue;
    border-radius: 10px;
    margin: 20px;
}

form.butacas > table{
 padding: 20px 0 20px 40px;
}

input[type="checkbox"]{
    display: none;
}
input[type='checkbox']~ label > img{ /*para que no se muevan los asientos al hacer click*/
    padding:5px;
}
input[type='checkbox']:checked ~ label > img{
    border: 5px solid green;
    padding:0;
    border-radius: 50%;
}


form.butacas td > label > img{
    border-radius: 50%;
    border: 1px solid rgb(156, 214, 236);
}

form.butacas td > img{
    border-radius: 50%;
    border: 1px solid rgb(156, 214, 236);
}

form.butacas > p > button{
    border-radius: 15px;
    text-align: center;
    height: 3em;
}

h2{
    text-align: center;
    color:midnightblue;
}

.seleccionPase{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   
}

.seleccionPase > select{
     margin:1em;
     width:20em;
     height: 2em;   
   
}

.entradas, #totales{
    display: grid;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin:0 auto 0 auto;
}

.entradas > p{
    margin:0 auto 1px auto;
    box-sizing:border-box;
    border: 2px solid blue;
    padding: 1em;
    border-radius: 10px;
    color: midnightblue;
    width: 400px;
}

.entradas >p:hover{
    color:white;
    background-color: rgb(71, 118, 233);
    transform: scale(1.2); 
}

.entradas > p:nth-of-type(1){
    margin-top: 30px;
}


#totales > p{
    margin:0 auto 1px auto;
    box-sizing:border-box;
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
    border-radius: 10px;
    color: midnightblue;
    
}

#totales > p:hover{
    color:white;
    background-color: rgb(71, 118, 233);
    transform: scale(1.2); 
}

@media (max-width:600px){
    #totales > p, .entradas > p{
        min-width: 200px;
        flex-shrink: 1;
    }
}
