.registro{
    margin-top: 20vw;
    width: 80%;
    max-width: 1000px;
    border: dotted black 5px;
}

.registro>div{
    text-align: left;
}
.registro{
    margin: auto;
    font-size: 50px;
    line-height: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    
}